---
import Layout from "../layouts/Layout.astro";
import Story from "../components/Story.astro";

const storiesData = await fetch(
	"https://hacker-news.firebaseio.com/v0/topstories.json"
);

const stories = await storiesData.json();
---

<Layout title="Welcome to alt.hn">
	<main class="flex flex-col gap-4 max-w-2xl">
		{
			stories.map((id: string) => {
				return <Story id={id} />;
			})
		}
		<!-- <Story /> -->
		<!-- <Story /> -->
		<!-- <Story /> -->
		<!-- <Story /> -->
	</main>
</Layout>
