---
import Header from "../components/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Alternative Hacker News client." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-950 text-zinc-200 flex flex-col items-center">
		<div class="container max-w-5xl flex flex-col items-center w-full">
			<Header />
			<slot />
		</div>
	</body>
</html>
